@use "sass:map";

nav {
    @media (max-width: map.get($breakpoints, "small")) {
        display: none;
    }
    
    background-color: $nav-background;

    ul {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 0;

        width: $nav-bar-normal-width;
        @media (min-width: map.get($breakpoints, "large")) {
            width: $nav-bar-large-width;
        }

        border-left: 1px solid $nav-highlight;
        border-right: 1px solid $nav-shadow;
    }

    li {
        flex-grow: 1;
        flex-basis: 8ch;

        display: block;
        font-size: $nav-font-size;
        text-align: center;
        
        border-left: 1px solid $nav-shadow;
        border-right: 1px solid $nav-highlight;

        margin: 0;
        padding: 0 3ch;
    }
    
    a {
        display: block;
        color: $nav-text-colour;
        text-decoration: none;
        text-transform: uppercase;
    }

    p::first-line {
        font-size: $nav-font-size-first-line;
    }

    span::before {
        display: block;
        width: 1ch;
        margin: 0 auto;
        padding-top: 1em;
    }

    @each $service, $colour in $service-colours {
        a.#{$service} span {
            color: $colour;
        }
    }
}
