@import '../node_modules/normalize.css/normalize',
        'breakpoints',
        './mixins/button',
        './mixins/margin-x-centre',
        './mixins/wrapped-flex',
        'shared-colours',
        './icons/icons',
        './header/header',
        './nav-bar/nav-bar',
        './hero-image/hero-image',
        './services/services',
        './about/about';

body {
    font-family: 'Poppins', 'sans-serif';
    letter-spacing: 0.4px;
    background-color: $page-background-colour;
}

h1,
h2 {
    font-weight: 400;
}
