@use "variables";

@mixin icon($unicode: null) {
    // the icon font is only defined for normal style, weight, etc.
    font-family: "#{variables.$font-family}" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    @if ($unicode) {
        content: $unicode;
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// allows insertion of icon based on class name
// e.g. class="icon-phone" will get the phone icon as a pseudo-element
@each $icon-name, $unicode in variables.$icon-unicode-by-name {
    .icon-#{$icon-name} {
        &::before {
            @include icon;
            content: $unicode;
        }
    }
}
