$font-family: "netmatters-icons" !default;
$font-path: "../font" !default;

$icon-unicode-by-name: (
    "hamburger": "\e90c",
    "mouse": "\e90d",
    "paper-plane": "\e90e",
    "bars": "\e900",
    "code": "\e901",
    "facebook": "\e902",
    "grid": "\e903",
    "linked-in": "\e904",
    "monitor": "\e905",
    "phone": "\e906",
    "right-arrow": "\e907",
    "search": "\e908",
    "shield": "\e909",
    "student-cap": "\e90a",
    "twitter": "\e90b",
);
