# Folder config file (on Windows)
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# node_modules content should be fetched with npm, not stored in version control
node_modules/*

screenshots/*

# IDE config
.vscode/*

dist/js/**/*.js
dist/css/**/*.css
dist/css/**/*.css.map