# Folder config file (on Windows)
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# node_modules content should be fetched with npm
node_modules/*

# vendor content should be fetched with composer
vendor/*

screenshots/*

# IDE config
.vscode/*

# the whole public directory will be built locally
public/*

# cache and output from tests
tests/cache/*
tests/log/*
.phpunit.result.cache
