@use "rounded-corners";
@use "flex-center";

// style an element as a rounded button, with control over various
// aspects of how it will appear.
@mixin button(
        $background-colour: null,
        $text-colour: null,
        $font-size: null,
        $width: null,
        $height: null,
    ) {
    @include rounded-corners.rounded-corners;
    @include flex-center.flex-center;

    @if ($width) {
        width: $width;
    }
    @if ($height) {
        height: $height;
    }

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    @if ($background-colour) {
        background-color: $background-colour;
    }
    @if ($text-colour) {
        color: $text-colour;
    }
    @if ($font-size) {
        font-size: $font-size;
    }
}
