@use "../theme";
@use "margin-center" as center;

// Styles this element as a filled rectangle.
// Generally, but not necessarily, used on a
// ::before or ::after pseudo-element.
@mixin short-horizontal-line (
        $line-colour: theme.$primary,
        $line-length: theme.$spacing-line-length,
        $line-height: theme.$spacing-line-height,
    ) {

    @include center.margin-x-center;
    margin-top: 1rem;

    content: "";
    display: block;
    background-color: $line-colour;
    width: $line-length;
    height: $line-height;
}
