$nav-text-colour: #fff;
$nav-background: #333645;
$nav-highlight: #484a58;
$nav-shadow:  #262834;

$nav-font-size: (18px / 16px) * 1rem;
$nav-font-size-first-line: (10px / 16px) * 1rem;

$nav-bar-normal-width: 970px;
$nav-bar-large-width: 1200px;
