$font-family: "netmatters-icons" !default;
$font-path: "../font" !default;

@font-face {
    font-family: "#{$font-family}";
    src:  url("#{$font-path}/#{$font-family}.eot?choi8y");
    src:  url("#{$font-path}/#{$font-family}.eot?choi8y#iefix") format("embedded-opentype"),
          url("#{$font-path}/#{$font-family}.ttf?choi8y") format("truetype"),
          url("#{$font-path}/#{$font-family}.woff?choi8y") format("woff"),
          url("#{$font-path}/#{$font-family}.svg?choi8y##{$font-family}") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
