@use "unicode";
@use "font";

@mixin icon($unicode: null, $size: null) {
    // the icon font is only defined for normal style, weight, etc.
    font-family: "#{font.$font-family}" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    @if ($unicode) {
        content: $unicode;
    }

    @if ($size) {
        font-size: $size;
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
