@use "flex-row-container";
@use "margin-center" as center;
@use "convert";
@use "../theme";

// create the container for simple row of badges, as seen in 
// the client and accreditation sections of the landing page.
@mixin badge-row {
    @include theme.content-width-by-breakpoint(
        $width-add: convert.px-to-rem(-30px)
    );
    @include center.margin-x-center;

    margin-top: convert.px-to-rem(50px);
    margin-bottom: convert.px-to-rem(50px);
        
    // allow images to scale to fit
    img {
        width: 100%;
    }
        
    // don't display at mobile breakpoint
    display: none;

    // do display at small and above breakpoints
    @include theme.above-breakpoint("small") {
        @include flex-row-container.flex-row-container;
    }
}
