@use "sass:map";
@use "sass:list";
@use "convert";

// "mobile" is default, with later breakpoint becoming
// active when viewport width exceeds the associated value.
$_breakpoints: (
    "mobile": 0,
    "small": convert.px-to-rem(768px),
    "medium": convert.px-to-rem(991px),
    "large": convert.px-to-rem(1260px),
);

//TODO: move _breakpoints definition to theme

$_largest-breakpoint-pair: list.nth($_breakpoints, -1);
$largest-breakpoint-name: list.nth($_largest-breakpoint-pair, 1);
$largest-breakpoint-size: list.nth($_largest-breakpoint-pair, 2);

@function get-breakpoint($name) {
    @if (not map.has-key($_breakpoints, $name)) {
        @error "Name \"#{$name}\" must be a valid breakpoint name.";
    }
    @return map.get($_breakpoints, $name);
}

@mixin above-breakpoint($name) {
    @media (min-width: get-breakpoint($name)) {
        @content;
    }
}
