@use "rounded-corners";
@use "flex-center";

@mixin button(
        $background-colour, $text-colour, $font-size,
        $width: 12rem, $height: 2.5rem
    ) {
    @include rounded-corners.rounded-corners;
    @include flex-center.flex-center;

    margin: 2em auto;
    width: $width;
    height: $height;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    background-color: $background-colour;
    color: $text-colour;
    font-size: $font-size;
}
