@mixin colour-on-hover {
    .colour {
        display: none;
    }
    .bw {
        display: initial;
    }

    &:hover {
        .colour {
            display: initial;
        }
        .bw {
            display: none;
        }
    }
}
