@use "../icons";
@use "../theme";
@use "../utility";

#about {
    background-color: theme.$primary;
    color: theme.$primary-contrast;

    padding: utility.px-to-rem(42px) 0 utility.px-to-rem(50px);
    
    .content {
        @include utility.margin-x-center;
        @include theme.content-width-by-breakpoint(
            $width-add: utility.px-to-rem(-30px)
        );

        box-sizing: border-box;
        padding: 0 utility.px-to-rem(15px);

        // remove horizontal padding once outside of "mobile" breakpoint
        @include theme.above-breakpoint("small") {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    h2 {
        font-weight: 400;
        font-size: theme.$about-heading-size;
        text-transform: uppercase;
        margin: 0 0 utility.px-to-rem(28px);
    }
    
    p {
        font-size: theme.$about-para-size;
        line-height: 1.875;
        margin: 0 0 utility.px-to-rem(25px);
    }
    
    // first paragraph is bold
    p:first-of-type {
        font-weight: 600;
    }
    
    .call-to-action {
        // the call to action anchor is styled as a button
        @include utility.button(
            $background-colour: theme.$primary-contrast,
            $text-colour: theme.$primary,
            $font-size: theme.$about-button-size,
            $width: utility.px-to-rem(173px),
            $height: utility.px-to-rem(47px),
        );

        // generate arrow icon within the button
        &::after {
            @include icons.icon(icons.icon-unicode-from-name("right-arrow"), 0.75em);
            padding-left: 0.75rem;
        }

        &:hover {
            background-color: theme.$primary-contrast-hover;
        }
    }

    // at medium and above breakpoints show a background image
    @include theme.above-breakpoint("medium") {
        background: theme.$primary url("../img/netmatters-brand/alpha-overlay.png") no-repeat right;
        background-size: auto 100%;
    }

    // at large breakpoint give text content a max width instead of stretching to fill
    @include theme.above-breakpoint("large") {
        h2,
        p {
            max-width: utility.px-to-rem(570px);
        }
    }
}
