@use "../utility";
@use "../theme";

.clients {
    @include utility.hide-section-heading;
    @include utility.horizontal-shadow-within(2rem);

    .wrapper {
        @include utility.badge-row;
        height: utility.px-to-rem(70px);
        margin-top: 0;
        padding: utility.px-to-rem(55px) 0 0;
    }

    .badge {
        @include utility.colour-on-hover;
        padding: 0 theme.$badge-horizontal-padding;

        // set badge position relative so it becomes the anchor for .tooltip
        position: relative;
    }

    .tooltip-wrapper {
        @include utility.tooltip-wrapper(
            $pointer-size: utility.px-to-rem(50px),
            $offset-above-parent: utility.px-to-rem(75px),
            $pointer-colour: theme.$primary,
        );
    }

    // when hovering on badge, show the tooltip
    .badge:hover .tooltip-wrapper {
        @include utility.tooltip-wrapper-show;
    }

    .tooltip-content {
        // centred relative to its parent .tooltip-wrapper
        @include utility.margin-x-center;

        width: utility.px-to-rem(220px);
        padding: utility.px-to-rem(12px) utility.px-to-rem(18px);

        text-align: center;
        color: theme.$primary-contrast;
        background-color: theme.$primary;
    }

    h3 {
        font-size: theme.$tooltip-header-font-size;
        font-weight: 400;
        margin: 0.4rem 0 0;
        padding: 0;
        
        // generate a small horizontal line after the h3 element in the tooltip
        ::after {
            @include utility.short-horizontal-line($line-colour: theme.$primary-contrast);
        }
    }

    p {
        font-size: theme.$tooltip-font-size;
        line-height: theme.$tooltip-line-height;
    }
}
