@use "../icons";
@use "../theme";
@use "../utility";

// A large image with text and a call to action button overlaid.
// The image has a gradient overlaid on it to aid text legibility.
#hero-image {
    // at mobile breakpoint gradient overlay never reaches full transparency
    @include utility.hero-image-background(
        (
            linear-gradient(to right, black, transparent 175%),
            url("../img/carousel/carousel-web-design.jpg")
        ), #472e3c
    );

    // use flex to position child element vertically centred
    display: flex;
    flex-direction: column;
    justify-content: center;

    // vertically fill the parent, which is expected to be .first-container
    box-sizing: border-box;
    height: 100%;
    
    color: theme.$primary-contrast;
    text-align: center;
    
    .wrapper {
        @include utility.margin-x-center;
        @include theme.content-width-by-breakpoint($width-add: utility.px-to-rem(-30px));
    }

    h2 {
        font-size: theme.$hero-heading-size;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 utility.px-to-rem(25px);
    }
    
    p {
        font-size: theme.$hero-para-size;
        line-height: 1.8;
        margin: 0 0 utility.px-to-rem(35px);
    }
    
    .call-to-action {
        @include utility.button(
            $background-colour: theme.get-colour-for-service("web-design"),
            $text-colour: theme.$primary-contrast,
            $font-size: theme.$hero-button-size,
            $width: 14rem,
            $height: 3.8rem,
        );
        margin: 0 auto;

        &:hover {
            background-color: theme.get-sub-colour-for-service("web-design");
        }

        // generate icon after the text
        &::after {
            @include icons.icon(icons.icon-unicode-from-name("right-arrow"), 0.75em);
            padding-left: 0.9rem;
        }
    }
    
    @include theme.above-breakpoint("medium") {
        // move to left align for medium and above breakpoints
        text-align: left;

        .call-to-action  {
            margin-left: 0;
        }

        // no longer need to darken right side of image, so change gradient
        @include utility.hero-image-background(
            (
                linear-gradient(to right, black, transparent 75%),
                url("../img/carousel/carousel-web-design.jpg")
            ), #472e3c
        );
    }
}
