@use "../icons";
@use "../theme";
@use "../utility";

// A large image with text and a call to action button overlaid.
// The image has a gradient overlaid on it to aid text legibility.
.hero-image {

    // show a background image in the "hero image" style, defaulting to the web-design image
    @include utility.hero-image-background(
        $image: (linear-gradient(to right, black, transparent 175%),
                url("../img/carousel/web-design.jpg")),
        $fallback-colour: #472e3c
    );

    @each $service-name in theme.$services-in-hero-carousel {
        &.#{$service-name} {
            // for each service name generate a rule to set a unique image
            // at mobile breakpoint gradient overlay never reaches full transparency
            background-image: 
                linear-gradient(to right, black, transparent 175%),
                url("../img/carousel/#{$service-name}.jpg");
            
            // colour the call to action button to match the service on this slide
            .call-to-action {
                background-color: theme.get-colour-for-service($service-name);

                &:hover {
                    background-color: theme.get-sub-colour-for-service($service-name);
                }
            }
        }
    }

    // use flex to position child element vertically centred
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    
    color: theme.$primary-contrast;
    text-align: center;
    
    .wrapper {
        @include utility.margin-x-center;
        @include theme.content-width-by-breakpoint($width-add: utility.px-to-rem(-30px));
    }

    h2 {
        font-size: theme.$hero-heading-size;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 utility.px-to-rem(25px);
    }
    
    p {
        font-size: theme.$hero-para-size;
        line-height: 1.8;
        margin: 0 0 utility.px-to-rem(35px);
    }
    
    .call-to-action {
        @include utility.button(
            $text-colour: theme.$primary-contrast,
            $font-size: theme.$hero-button-size,
            $height: 3.8rem,
        );
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 7px 19px;
        margin: 0 auto;

        // generate icon after the text
        &::after {
            @include icons.icon(icons.icon-unicode-from-name("right-arrow"), 0.75em);
            padding-left: 0.9rem;
        }
    }
    
    @include theme.above-breakpoint("medium") {
        // move to left align for medium and above breakpoints
        text-align: left;

        .call-to-action  {
            margin-left: 0;
        }

        // no longer need to darken right side of image, so change gradient
        @each $service-name in theme.$services-in-hero-carousel {
            &.#{$service-name} {
                background-image:
                    linear-gradient(to right, black, transparent 75%),
                    url("../img/carousel/#{$service-name}.jpg");
            }
        }
    }
}
