@use "../icons";
@use "../theme";
@use "../utility";

$menu-header-font-size: 1.125rem;
$menu-content-font-size: 1rem;

$dark-faint: rgba(#000, 0.25);
$light-faint: rgba(#fff, 0.05);

$menu-light-border: 1px solid rgba(#fff, 0.10);
$menu-dark-border: 1px solid rgba(#000, 0.25);
$menu-darker-border: 1px solid rgba(#000, 0.45);

.menu-content {
    box-sizing: border-box;
    background-color: #333645;

    line-height: 1.42857143;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-services {
        // hide this part of the menu at larger screen sizes
        @include theme.above-breakpoint("medium") {
            display: none;
        }

        padding: 0 utility.px-to-rem(21px) utility.px-to-rem(21px);
        border-bottom: $menu-dark-border;

        & > li {
            padding: utility.px-to-rem(20px) 0 0;
        }

        // category-head gets highlighted when it or any of its sub-links is hovered over
        li:hover a.category-head {
            background-color: $light-faint;
        }

        a {
            display: block;
            
            text-decoration: none;
            color: theme.$primary-contrast;
            text-align: center;
            text-transform: uppercase;
        }
        a.contact-us,
        a.category-head {
            @include utility.rounded-corners;
            
            font-size: $menu-header-font-size;
            
            padding: utility.px-to-rem(19px) 0 utility.px-to-rem(18px);
            outline: $menu-dark-border;
            border: $menu-light-border;
            

            background-color: transparent;
            &:hover {
                background-color: $light-faint;
            }
        }

        // insert icon to match the service type of each category
        @each $service-name, $service-icon in theme.$service-icons {
            .#{$service-name} a.category-head {
                &::before {
                    @include icons.icon(icons.icon-unicode-from-name($service-icon), 1.3rem);
                
                    text-align: center;
                    line-height: 1.2;
                    
                    display: block;
                    padding-bottom: 0.4em;

                    color: theme.get-colour-for-service($service-name);
                }
            }
        }

        h2 {
            font-size: theme.$nav-bar-category-size;
            text-align: center;
            color: theme.$primary-contrast;
            text-transform: uppercase;
            line-height: 1.0;

            margin: 0;
            padding: 0 0 utility.px-to-rem(4px);

            .first {
                // use block display to place on a separate line
                display: block;
                font-size: theme.$nav-bar-category-size-first-line;
                padding: utility.px-to-rem(2px) 0 utility.px-to-rem(7px);
            }
        }

        .category-list {
            @include utility.rounded-corners;
            margin-top: utility.px-to-rem(20px);
            background-color: $dark-faint;

            a {
                padding: utility.px-to-rem(10px) 0;
            }

            li {
                box-sizing: border-box;
            }
            li:not(:first-of-type) {
                border-top: $menu-light-border;
            }
            li:not(:last-of-type) {
                border-bottom: $menu-darker-border;
            }
        }
    }
    
    .menu-navigation {
        a {
            display: block;
            color: theme.$primary-contrast;
            padding: utility.px-to-rem(20px);
            text-transform: uppercase;
            text-decoration: none;
            font-size: $menu-content-font-size;
            line-height: 1;
        }
        
        // first layer of lists are the section headers
        & > li {
            border-top: $menu-light-border;
            border-bottom: $menu-dark-border;
            box-sizing: border-box;

            &:hover > a {
                background-color: $light-faint;
            }
        }

        // second layer of lists are the section contents
        li li {
            border-top: $menu-dark-border;

            a {
                border-top: 1px solid $light-faint;
                background-color: $dark-faint;

                font-size: 0.875rem;
                padding: utility.px-to-rem(15px) utility.px-to-rem(20px);
                line-height: 1.42857143;

                box-sizing: border-box;

                &::before {
                    content: "\BB";
                    padding-right: utility.px-to-rem(19px);
                }
            }
        }

        .support {
            // hide this one item at larger screen sizes
            @include theme.above-breakpoint("medium") {
                display: none;
            }
        }
    }
}
