@use 'sass:map';

$hero-picture: url("../img/carousel/carousel-web-design.jpg");
$hero-fallback-colour: #472e3c;
$hero-gradient-overlay: linear-gradient(to right, black, transparent);
$hero-text-colour: #fff;
$hero-button-colour: map.get($service-colours, 'web-design');

$hero-heading-size: (48px / 16px) * 1rem;
$hero-para-size: (20px / 16px) * 1rem;
$hero-button-size: (20px / 16px) * 1rem;

$hero-button-width: 14rem;
$hero-button-height: 3.3rem;

// when viewport width is larger than breakpoint, hero height should be:
$hero-height-by-breakpoint: (
    'mobile': 531px,
    'extra-small': 589px,
    'small': 490px
);