@use "sass:map";

$brand-background-colour: #333645;
$page-background-colour: #fefefe;

$service-colours: (
    "web-design": #926fb1,
    "it-support": #4183d7,
    "telecoms-services": #d64541,
    "bespoke-software": #67809f,
    "digital-marketing": #2ecc71,
    "cyber-security": #f62459,
    "developer-training": #926fb1,
);

$service-icons: (
    "web-design": "code",
    "it-support": "monitor",
    "telecoms-services": "phone",
    "bespoke-software": "grid",
    "digital-marketing": "bars",
    "cyber-security": "shield",
    "developer-training": "student-cap",
);
