@use "sass:map";
@use "../utility/convert";

$page-background: #fefefe;

// colours are given in sets so A-contrast should work with A as text and background (or vice versa)

$primary: #333645;
$primary-contrast: #fff;
$primary-highlight: #484a58;
$primary-shadow: #262834;

$faint: #666;

$border-colour: #ccc;
$border-thickness: 1px;
$border-radius: convert.px-to-rem(3px);

$nav-bar-bottom-border: #999aa2;

$service-colours: (
    "web-design": #926fb1,
    "it-support": #4183d7,
    "telecoms-services": #d64541,
    "bespoke-software": #67809f,
    "digital-marketing": #2ecc71,
    "cyber-security": #f62459,
    "developer-training": #926fb1,
);
    
$service-sub-colours: (
    "web-design": #79539a,
    "it-support": #286abd,
    "telecoms-services": #bc2c28,
    "bespoke-software": #526781,
    "digital-marketing": #25a25a,
    "cyber-security": #de093f,
    "developer-training": #79539a,
);

$service-icons: (
    "web-design": "code",
    "it-support": "monitor",
    "telecoms-services": "phone",
    "bespoke-software": "grid",
    "digital-marketing": "bars",
    "cyber-security": "shield",
    "developer-training": "student-cap",
);

$social-media-colours: (
    "facebook": #3b5998,
    "twitter": #00aced,
    "linkedin": #0077b5,
);

$social-media-icons: (
    "facebook": "facebook",
    "twitter": "twitter",
    "linkedin": "linked-in",
);

$content-width-by-breakpoints: (
    "mobile": 100%,
    "small": convert.px-to-rem(750px),
    "medium": convert.px-to-rem(970px),
    "large": convert.px-to-rem(1200px),
);

$footer-section-width-by-breakpoints: (
    "mobile": 100%,
    "small": convert.px-to-rem(375px),
    "medium": convert.px-to-rem(485px),
    "large": convert.px-to-rem(300px),
);

$badge-row-height-by-breakpoints: (
    "small": convert.px-to-rem(88px),
    "medium": convert.px-to-rem(110px),
    "large": convert.px-to-rem(88px),
);

$latest-post-article-width-by-breakpoints: (
    "mobile": 100%,
    "small": convert.px-to-rem(350px),
    "medium": convert.px-to-rem(455px),
    "large": convert.px-to-rem(370px),
);

//TODO: store a more general set of body, header, etc., font sizes

$nav-subcategory-size-by-breakpoints: (
    "medium": convert.px-to-rem(13px),
    "large": convert.px-to-rem(16px),
);

$header-menu-size: convert.px-to-rem(12px);

$nav-bar-category-size: convert.px-to-rem(18px);
$nav-bar-category-size-first-line: convert.px-to-rem(10px);

$about-heading-size: convert.px-to-rem(36px);
$about-para-size: convert.px-to-rem(16px);
$about-button-size: convert.px-to-rem(16px);

$services-heading-size: convert.px-to-rem(18px);
$services-para-size: convert.px-to-rem(13px);
$services-button-size: convert.px-to-rem(17px);

$blog-h2-font-size: convert.px-to-rem(20px);
$blog-h3-font-size: convert.px-to-rem(16px);
$blog-para-font-size: convert.px-to-rem(13px);
$blog-para-line-height: 1.375rem;
$blog-button-font-size: convert.px-to-rem(17px);
$blog-category-font-size: convert.px-to-rem(12px);
$blog-category-font-weight: 600;
$blog-poster-font-size: convert.px-to-rem(14px);

$tooltip-header-font-size: convert.px-to-rem(18px);
$tooltip-font-size: convert.px-to-rem(13px);
$tooltip-line-height: 1.375rem;
$tooltip-pointer-size: convert.px-to-rem(50px);

$badge-horizontal-padding: 20px;

$spacing-line-length: convert.px-to-rem(28px);
$spacing-line-height: convert.px-to-rem(3px);

$footer-heading-font-size: convert.px-to-rem(16px);
$footer-font-size: convert.px-to-rem(13px);

$quarter-opaque: rgba(0, 0, 0, 0.25);
