@use "../icons";
@use "../theme";
@use "../utility";

#about {
    background-color: theme.$primary;
    color: theme.$primary-contrast;

    padding-top: 2rem;
    padding-bottom: 2rem;
    
    .content {
        @include utility.margin-x-center;
        @include theme.content-width-by-breakpoint(
            $width-add: utility.px-to-rem(-30px)
        );

        padding: 2.5rem utility.px-to-rem(15px);

        // remove horizontal padding once outside of "mobile" breakpoint
        @include utility.above-breakpoint("small") {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    h2 {
        font-weight: 400;
        font-size: theme.$about-heading-size;
        text-transform: uppercase;
        margin: 0 0 1em;
    }
    
    p {
        font-size: theme.$about-para-size;
        line-height: 1.9;
    }
    
    // first paragraph is bold
    p:first-of-type {
        font-weight: 600;
    }
    
    .call-to-action {
        // the call to action anchor is styled as a button
        @include utility.button(
            $background-colour: theme.$primary-contrast,
            $text-colour: theme.$primary,
            $font-size: theme.$about-button-size,
            $width: 10.5rem,
            $height: 2.7rem,
        );
        
        // position left aligned, with space from content above
        margin: 2rem 0 0;

        // generate arrow icon within the button
        &::after {
            @include icons.icon;
            content: icons.icon-unicode-from-name("right-arrow");
            font-size: 0.75em;
            padding-left: 1rem;
        }
    }

    // at medium and above breakpoints show a background image
    @include utility.above-breakpoint("medium") {
        background: theme.$primary url("../img/netmatters-brand/alpha-overlay.png") no-repeat right;
        background-size: auto 100%;
    }

    // at large breakpoint give text content a max width instead of stretching to fill
    @include utility.above-breakpoint("large") {
        h2,
        p {
            max-width: utility.px-to-rem(570px);
        }
    }
}
