@use "../icons";
@use "../theme";
@use "../utility";

$background-colour: theme.$brand-background-colour;
$text-colour: #fff;
$button-background-colour: #fff;
$button-text-colour: theme.$brand-background-colour;

$heading-size: utility.px-to-rem(36px);
$para-size: utility.px-to-rem(16px);
$button-size: utility.px-to-rem(16px);

$button-width: 10.5rem;
$button-height: 2.7rem;

#about {
    background-color: $background-colour;
    color: $text-colour;

    
    .content {
        margin: 0;
        padding: 2.5em 1.8ch;
        
        @include utility.above-breakpoint("small") {
            width: 720px;
            margin: 0 auto;
        }
        @include utility.above-breakpoint("medium") {
            width: 940px;
        }
    }
    
    
    h2 {
        font-weight: 400;
        font-size: $heading-size;
        text-transform: uppercase;
        margin: 0 0 1em;
    }
    
    p {
        font-size: $para-size;
        line-height: 1.9;
    }
    
    p:first-of-type {
        font-weight: 600;
    }
    
    a {
    @include utility.button(
        $background-colour: $button-background-colour,
        $text-colour: $button-text-colour,
        $font-size: $button-size,
        $width: $button-width,
        $height: $button-height
        );
        
        margin: 2em auto 0 0;
        
        @include utility.above-breakpoint("medium") {
            margin-left: 0;
        }
    }
        
    // selects the icon
    span::before {
        font-size: 0.75em;
    }

    @include utility.above-breakpoint("medium") {
        background: $background-colour url("../img/netmatters-brand/alpha-overlay.png") no-repeat right;
        background-size: auto 100%;
    }

    @include utility.above-breakpoint("large") {
        .content {
            width: 1200px;
        }

        h2,
        p {
            width: 570px;
        }
    }
}
