@use "../utility";
@use "../theme";

#clients {
    @include utility.badge-row-colour-on-hover;

    .badge {
        // set badge position relative so it becomes the anchor for .tooltip
        position: relative;
    }

    .tooltip-wrapper {
        @include utility.tooltip-wrapper(
            $pointer-size: utility.px-to-rem(50px),
            $offset-above-parent: utility.px-to-rem(55px),
            $pointer-colour: theme.$primary,
        );
    }

    .badge:hover .tooltip-wrapper {
        @include utility.tooltip-wrapper-show;
    }

    h3 {
        font-size: theme.$tooltip-header-font-size;
        font-weight: 400;
        margin: 0.4rem 0 0;
        padding: 0;
    }
    p {
        font-size: theme.$tooltip-font-size;
        line-height: theme.$tooltip-line-height;
    }

    // generate a small horizontal line after the h2 element
    h3::after {
        @include utility.short-horizontal-line($line-colour: theme.$primary-contrast);
    }

    .tooltip-content {
        // centred relative to its parent .tooltip-wrapper
        @include utility.margin-x-center;

        width: utility.px-to-rem(220px);
        padding: utility.px-to-rem(12px) utility.px-to-rem(18px);

        text-align: center;
        color: theme.$primary-contrast;
        background-color: theme.$primary;
    }
}
