@use "../icons";
@use "../theme";
@use "../utility";

$text-colour: #fff;

$menu-background-colour: theme.$primary;
$menu-colour: theme.$primary-contrast;
$menu-font-size: utility.px-to-rem(12px);
$menu-icon-size: 1.2rem;
$menu-width: utility.px-to-rem(63px);
$menu-height: utility.px-to-rem(56px);

$mobile-form-colour: #666;
$mobile-search-border-colour: rgba(0, 0, 0, 0.1);
$mobile-search-background-colour: rgba(0, 0, 0, 0.1);
$mobile-search-text-colour: #555;
$mobile-search-text-size: utility.px-to-rem(14px);
$mobile-search-icon-size: 1.2rem;

$wide-search-border-colour: #ccc;
$wide-search-background-colour: #fff;
$wide-search-text-colour: #555;
$wide-search-button-background-colour: #999aa2;
$wide-search-button-colour: #fff;
$wide-search-icon-size: 1.4rem;

$support-background-colour: #4183d7;
$contact-background-colour: #999aa2;
$button-font-size: utility.px-to-rem(18px);

$support-icon-name: "mouse";
$contact-icon-name: "paper-plane";

header {
    .content {
        padding:
            utility.px-to-rem(20px)
            utility.px-to-rem(15px);
        
        display: grid;
        grid-template-columns: 1fr
            utility.px-to-rem(70px)
            utility.px-to-rem(70px);
        grid-template-rows:
            utility.px-to-rem(70px)
            utility.px-to-rem(72px);
        justify-items: center;
        align-items: center;
    }

    // at mobile breakpoint these buttons don't appear.
    .support,
    .contact {
        display: none;
    }

    .icon-phone {
        font-size: 1.6rem;
        flex-basis: utility.px-to-rem(71px);
    }

    img {
        margin-right: auto;
        max-width: 100%;
        margin-right: 2rem;
    }

    .hamburger-menu {
        @include utility.rounded-corners;

        display: flex;
        flex-direction: column;
        justify-content: center;

        box-sizing: border-box;
        width: $menu-width;
        height: $menu-height;
        background-color: $menu-background-colour;

        color: $menu-colour;
        text-align: center;

        // create the menu icon
        &::before {
            @include icons.icon;
            display: block;
            content: icons.icon-unicode-from-name("hamburger");
            font-size: $menu-icon-size;
            padding-bottom: 0.3em;
        }

        p {
            text-transform: uppercase;
            font-size: $menu-font-size;
            padding: 0;
            margin: 0;
        }
    }

    form {
        grid-column: 1 / -1;

        width: 100%;
        height: utility.px-to-rem((33px + 5px) * 2);
        margin-left: 2rem;
        
        // positioned relative with no offset so it can anchor the absolute positioned button
        position: relative;

        input {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 
                utility.px-to-rem(5px)
                2rem
                utility.px-to-rem(5px)
                0.9rem;
            border: 2px solid $mobile-search-border-colour;
            background-color: $mobile-search-background-colour;
            @include utility.rounded-corners;

            color: $mobile-search-text-colour;
            font-size: $mobile-search-text-size;
        }

        button {
            position: absolute;
            right: 0.25rem;
            height: 100%;

            border: 0;
            background-color: transparent;
            font-size: $mobile-search-icon-size;

            // generate search icon glyph as the button"s text
            &::after {
                @include icons.icon;
                content: icons.icon-unicode-from-name("search");
            }
        }
    }

    // at first breakpoint:
    // - content is now fixed width
    // - contact icon is removed
    // - the search bar moves up into same line as logo and changes appearance
    @include utility.above-breakpoint("small") {
        .icon-phone {
            display: none;
        }

        .content {
            @include utility.margin-x-center;
            width: utility.px-to-rem(750px);
            
            // grid layout changes, now just one row with logo's column fixed
            grid-template-columns:
                utility.px-to-rem(345px)
                1fr
                utility.px-to-rem(70px);
            grid-template-rows: 4.375rem;

            justify-items: end;
        }

        // rearrange grid items to suit the new single-row layout.
        img {
            grid-column: 1 / 2;
        }
        form {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .hamburger-menu{
            grid-column: -2 / -1;
        }

        // search form is styled differently when on the top row
        form {
            // width: utility.px-to-rem(237px);
            height: utility.px-to-rem(57px);

            display: flex;
            flex-direction: row;

            input,
            button {
                box-sizing: content-box;
                height: utility.px-to-rem(44px);
            }

            input {
                border: 1px solid $wide-search-border-colour;
                background-color: $wide-search-background-colour;
                color: $wide-search-text-colour;
                border-radius: 0;

                padding:
                    utility.px-to-rem(5px)
                    utility.px-to-rem(15px);

                flex-grow: 1;
            }

            button {
                @include utility.rounded-corners-right;

                position: initial;
                box-sizing: content-box;
                width: utility.px-to-rem(23px);
                padding: 
                    utility.px-to-rem(7px)
                    utility.px-to-rem(20px)
                    utility.px-to-rem(3px);
                
                border: 1px solid $wide-search-button-background-colour;
                background-color: $wide-search-button-background-colour;

                color: $wide-search-button-colour;
                font-size: $wide-search-icon-size;
            }
        }
    }

    // at second breakpoint:
    // - content fixed width increases
    // - search text input hidden, leaving only search button (clicking button should show text input, but that needs JS)
    // - support button appears
    // - contact button appears
    @include utility.above-breakpoint("medium") {
        .content {
            width: utility.px-to-rem(960px);

            // grid layout changes, adding more columns
            grid-template-columns:
                utility.px-to-rem(446px)    // logo
                utility.px-to-rem(172px)    // support
                utility.px-to-rem(172px)    // contact
                1fr                         // search
                utility.px-to-rem(85px);    // menu
        }

        // position grid items in correct column
        img {
            grid-column: 1 / 2;
        }
        .support {
            grid-column: 2 / 3;
        }
        .contact {
            grid-column: 3 / 4;
        }
        form {
            grid-column: 4 / 5;            
        }
        .hamburger-menu{
            grid-column: 5 / 6;
        }

        // force every item into first row
        img,
        form,
        .support,
        .contact,
        .hamburger-menu{
            grid-row: 1 / 2;
        }

        // .support and .contact styled as coloured buttons with icons
        .support,
        .contact {
            @include utility.button(
                $background-colour: null,
                $text-colour: $text-colour,
                $font-size: $button-font-size,
                $width: utility.px-to-rem(120px),
                $height: utility.px-to-rem(44px)
            );
            box-sizing: content-box;
            padding: utility.px-to-rem(5px) utility.px-to-rem(15px);
        }
        .support {
            background-color: $support-background-colour;

            &::before {
                @include icons.icon;
                content: icons.icon-unicode-from-name($support-icon-name);
                padding-right: 0.5em;
            }
        }
        .contact {
            background-color: $contact-background-colour;

            &::before {
                @include icons.icon;
                content: icons.icon-unicode-from-name($contact-icon-name);
                padding-right: 0.5em;
            }
        }

        // search text field is removed
        input {
            display: none;
        }

        // all corners on search button are rounded
        button {
            @include utility.rounded-corners;
        }

        .button.support,
        .button.contact {
            display: block;
        }
    }

    // at final breakpoint:
    // - content fixed width increases
    // - search text input appears again
    @include utility.above-breakpoint("large") {
        .content {
            width: utility.px-to-rem(1200px);
            
            // grid layout doesn't need to change, the column used by search is already
            // set to grow to fill available space.
        }

        // search input field reappears
        // will already have correct styling from the earlier breakpoints.
        input {
            display: initial;
        }

        // only right-side corners are rounded now that the search field is back
        button {
            @include utility.rounded-corners-right;
        }
    }
}
