@use "../icons";
@use "../theme";
@use "../utility";

//TODO: get rid of as many of these as possible
$text-colour: #fff;

$menu-hover-colour: #22242e;
$menu-icon-size: 1.2rem;

$mobile-form-colour: #666;
$mobile-search-border-colour: rgba(0, 0, 0, 0.1);
$mobile-search-background-colour: rgba(0, 0, 0, 0.1);
$mobile-search-text-colour: #555;
$mobile-search-text-size: utility.px-to-rem(14px);
$mobile-search-icon-size: 1.2rem;

$wide-search-border-colour: #ccc;
$wide-search-background-colour: #fff;
$wide-search-text-colour: #555;
$wide-search-button-background-colour: #999aa2;
$wide-search-button-colour: #fff;
$wide-search-icon-size: 1.4rem;

$support-background-colour: #4183d7;
$contact-background-colour: #999aa2;
$button-font-size: utility.px-to-rem(18px);

header {
    // create grid layout within .content
    .content {
        padding:
            utility.px-to-rem(20px)
            utility.px-to-rem(15px)
            utility.px-to-rem(5px);
        
        display: grid;
        grid-template-columns:
            1fr
            utility.px-to-rem(90px)
            utility.px-to-rem(70px);
        grid-template-rows:
            utility.px-to-rem(70px)
            utility.px-to-rem(70px);
        justify-items: center;
        align-items: center;
    }

    // at mobile breakpoint these buttons don't appear.
    .support,
    .contact {
        display: none;
    }

    a.phone {
        font-size: 1.6rem;
        flex-basis: utility.px-to-rem(71px);
        color: theme.$primary;
        text-decoration: none;

        &::after {
            @include icons.icon;
            content: icons.icon-unicode-from-name("phone");
        }
        &:hover::after {
            text-decoration: underline;
        }
    }

    .logo {
        justify-self: start;
    }
    img {
        max-width: 100%;
    }

    //TODO: button still has some border stuff we don't want
    .hamburger-menu {
        @include utility.rounded-corners;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        width: utility.px-to-rem(63px);
        height: utility.px-to-rem(56px);
        background-color: theme.$primary;
        border: none;

        cursor: pointer;

        color: theme.$primary-contrast;
        text-align: center;

        h2 {
            text-transform: uppercase;
            font-size: theme.$header-menu-size;
            padding: utility.px-to-rem(5px) 0 0;
            margin: 0;
        }

        &:hover {
            background-color: $menu-hover-colour;
        }
    }

    // create the menu icon from 3 small block elements
    .hamburger-icon,
    .hamburger-icon::before,
    .hamburger-icon::after {
        content: "";
        display: block;
        width: utility.px-to-rem(33px);
        height: utility.px-to-rem(3px);
        background-color: theme.$primary-contrast;
    }
    .hamburger-icon {
        position: relative;
        margin: utility.px-to-rem(8px) 0;
    }
    .hamburger-icon::before {
        position: absolute;
        top: utility.px-to-rem(8px);
    }
    .hamburger-icon::after {
        position: absolute;
        bottom: utility.px-to-rem(8px);
    }

    form {
        grid-column: 1 / -1;

        width: 100%;
        height: utility.px-to-rem(47px);
        margin: 0;
        padding: 0;
        
        // positioned relative with no offset so it can anchor the absolute positioned button
        position: relative;

        input {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 
                utility.px-to-rem(5px)
                2rem
                utility.px-to-rem(5px)
                0.9rem;
            border: 2px solid $mobile-search-border-colour;
            background-color: $mobile-search-background-colour;
            @include utility.rounded-corners;

            color: $mobile-search-text-colour;
            font-size: $mobile-search-text-size;
        }

        button {
            position: absolute;
            right: 0.25rem;
            height: 100%;

            border: 0;
            background-color: transparent;
            font-size: $mobile-search-icon-size;

            cursor: pointer;

            // generate search icon glyph as the button"s text
            &::after {
                @include icons.icon;
                content: icons.icon-unicode-from-name("search");
            }
        }
    }

    // ---- breakpoints ----

    .content {
        @include theme.content-width-by-breakpoint($width-add: utility.px-to-rem(-30px));
    }

    // at first breakpoint:
    // - content is now fixed width
    // - phone icon is removed
    // - the search bar moves up to same line as logo and changes appearance
    @include utility.above-breakpoint("small") {
        // phone doesn't appear at all
        a.phone {
            display: none;
        }

        .content {
            @include utility.margin-x-center;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 20px;
            
            // grid layout changes, now just one row with logo's column fixed
            grid-template-columns:
                1fr                         // logo
                utility.px-to-rem(237px)    // search
                utility.px-to-rem(80px);    // menu
            grid-template-rows: 4.375rem;

            justify-items: end;
        }

        // rearrange grid items to suit the new single-row layout.
        .logo {
            // first column
            grid-column: 1 / 2;

            padding-right: 60px
        }
        form {
            // second column
            grid-column: 2 / 3;

            // move up to top row
            grid-row: 1 / 2;
        }
        .hamburger-menu{
            // final column
            grid-column: -2 / -1;
        }

        // search form is styled differently when on the top row
        form {
            height: utility.px-to-rem(57px);

            display: flex;
            flex-direction: row;

            input,
            button {
                box-sizing: content-box;
                height: utility.px-to-rem(44px);
            }

            input {
                border: 1px solid $wide-search-border-colour;
                background-color: $wide-search-background-colour;
                color: $wide-search-text-colour;
                border-radius: 0;
                padding: utility.px-to-rem(5px) utility.px-to-rem(15px);

                flex-grow: 1;
            }

            button {
                @include utility.rounded-corners-right;

                position: initial;
                box-sizing: content-box;
                width: utility.px-to-rem(23px);
                padding: 
                    utility.px-to-rem(7px)
                    utility.px-to-rem(20px)
                    utility.px-to-rem(3px);
                
                border: 1px solid $wide-search-button-background-colour;
                background-color: $wide-search-button-background-colour;

                color: $wide-search-button-colour;
                font-size: $wide-search-icon-size;
            }
        }
    }

    // at second breakpoint:
    // - content fixed width increases
    // - search text input hidden, leaving only search button (clicking button should show text input, but that needs JS)
    // - support button appears
    // - contact button appears
    @include utility.above-breakpoint("medium") {
        .content {
            // grid layout changes, adding more columns
            grid-template-columns:
                1fr                         // logo
                utility.px-to-rem(165px)    // support
                utility.px-to-rem(172px)    // contact
                utility.px-to-rem(83px)     // search
                utility.px-to-rem(83px);    // menu
        }

        // position grid items in correct column
        .logo {
            grid-column: 1 / 2;
        }
        .support {
            grid-column: 2 / 3;
        }
        .contact {
            grid-column: 3 / 4;
        }
        form {
            grid-column: 4 / 5;            
        }
        .hamburger-menu{
            grid-column: 5 / 6;
        }

        // force every grid item into first row
        .content > * {
            grid-row: 1 / 2;
        }

        // .support and .contact styled as coloured buttons with icons
        .support {
            @include utility.button(
                $background-colour: $support-background-colour,
                $text-colour: theme.$primary-contrast,
                $font-size: $button-font-size,
                $width: utility.px-to-rem(145px),
                $height: utility.px-to-rem(56px),
            );
            box-sizing: border-box;
            margin: 0;

            // generate icon
            &::before {
                @include icons.icon;
                content: icons.icon-unicode-from-name("mouse");
                font-size: 1.2em;
                padding-right: 0.5em;
            }
        }
        .contact {
            @include utility.button(
                $background-colour: $contact-background-colour,
                $text-colour: $text-colour,
                $font-size: $button-font-size,
                $width: utility.px-to-rem(152px),
                $height: utility.px-to-rem(56px),
            );
            box-sizing: border-box;
            margin: 0;

            // generate icon
            &::before {
                @include icons.icon;
                content: icons.icon-unicode-from-name("paper-plane");
                font-size: 1.2em;
                padding-right: 0.5em;
            }
        }

        form {
            // no longer need to set width
            width: auto;

            // search text field is removed
            input {
                display: none;
            }

            // all corners on search button are rounded
            button {
                @include utility.rounded-corners;
            }
        }

    }

    // at final breakpoint:
    // - content fixed width increases
    // - search text input appears again
    @include utility.above-breakpoint("large") {
        // grid layout doesn't need to change, the column used by search is already
        // set to grow to fill available space.
        
        .content {
            // grid layout changes, adding more columns
            grid-template-columns:
                1fr                         // logo
                utility.px-to-rem(160px)    // support
                utility.px-to-rem(172px)    // contact
                utility.px-to-rem(323px)    // search
                utility.px-to-rem(83px);    // menu
        }

        // search input field reappears
        // will already have correct styling from the earlier breakpoints.
        form {
            box-sizing: border-box;
            width: 100%;
            padding-left: 20px;

            input {
                display: initial;
            }

            // only right-side corners are rounded now that the search field is back
            button {
                @include utility.rounded-corners-right;
            }
        }

    }
}
