@use "../breakpoints";
@use "../constants";
@use "../icons";
@use "../mixins";
@use "../utility";

$menu-background-colour: constants.$brand-background-colour;
$menu-colour: #fff;
$menu-font-size: utility.px-to-rem(12px);
$menu-icon-size: 1.2rem;
$menu-width: utility.px-to-rem(63px);
$menu-height: utility.px-to-rem(56px);

$mobile-form-colour: #666;
$mobile-search-border-colour: rgba(0, 0, 0, 0.1);
$mobile-search-background-colour: rgba(0, 0, 0, 0.1);
$mobile-search-text-colour: #555;
$mobile-search-text-size: utility.px-to-rem(14px);
$mobile-search-icon-size: 1.2rem;

$wide-search-border-colour: #ccc;
$wide-search-background-colour: #fff;
$wide-search-text-colour: #555;
$wide-search-button-background-colour: #999aa2;
$wide-search-button-colour: #fff;
$wide-search-icon-size: 1.4rem;


header {
    .content {
        padding:
            utility.px-to-rem(20px)
            utility.px-to-rem(15px);
        
        display: grid;
        grid-template-columns: 1fr
            utility.px-to-rem(70px)
            utility.px-to-rem(70px);
        grid-template-rows:
            utility.px-to-rem(70px)
            utility.px-to-rem(72px);
        justify-items: center;
        align-items: center;
    }

    .icon-phone {
        font-size: 1.6rem;
        flex-basis: utility.px-to-rem(71px);
    }

    img {
        margin-right: auto;
        max-width: 100%;
    }

    .hamburger-menu {
        @include mixins.rounded-corners;

        display: flex;
        flex-direction: column;
        justify-content: center;

        box-sizing: border-box;
        width: $menu-width;
        height: $menu-height;
        background-color: $menu-background-colour;

        color: $menu-colour;
        text-align: center;

        // create the menu icon
        &::before {
            @extend %icon;
            display: block;
            content: icons.icon-unicode-from-name("hamburger");
            font-size: $menu-icon-size;
            padding-bottom: 0.3em;
        }

        p {
            text-transform: uppercase;
            font-size: $menu-font-size;
            padding: 0;
            margin: 0;
        }
    }

    form {
        grid-column: 1 / -1;

        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;

        $input-height: 2.0625rem + 0.3125rem * 2;

        input {
            box-sizing: border-box;
            width: 100%;
            height: $input-height;
            padding: 0.3125rem 2rem 0.3125rem 0.9rem;
            border: 2px solid $mobile-search-border-colour;
            background-color: $mobile-search-background-colour;
            @include mixins.rounded-corners;

            color: $mobile-search-text-colour;
            font-size: $mobile-search-text-size;
        }

        button {
            position: absolute;
            right: 0.25rem;
            height: $input-height;

            border: 0;
            background-color: transparent;
            font-size: $mobile-search-icon-size;

            // generate search icon glyph as the button"s text
            &::after {
                @extend %icon;
                content: icons.icon-unicode-from-name("search");
            }
        }
    }

    // at first breakpoint:
    // - content is now fixed width
    // - contact icon is removed
    // - the search bar moves up into same line as logo and changes appearance
    @include breakpoints.above-breakpoint("extra-small") {
        .icon-phone {
            display: none;
        }

        .content {
            @include mixins.margin-x-centre;
            width: utility.px-to-rem(750px);
            
            // grid layout changes, now just one row with logo's column fixed
            grid-template-columns:
                (345px / 16px) * 1rem
                1fr
                (70px / 16px) * 1rem;
            grid-template-rows: 4.375rem;

            justify-items: end;
        }

        // rearrange grid items to suit the new single-row layout.
        img {
            grid-column: 1 / 2;
        }
        form {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .hamburger-menu{
            grid-column: -2 / -1;
        }

        // search form is styled differently when on the top row
        form {
            width: (237px / 16px) * 1rem;
            height: (57px / 16px) * 1rem;

            display: flex;
            flex-direction: row;

            input,
            button {
                box-sizing: content-box;
                height: (44px / 16px) * 1rem;
            }

            input {
                border: 1px solid $wide-search-border-colour;
                background-color: $wide-search-background-colour;
                color: $wide-search-text-colour;
                border-radius: 0;

                padding:
                    (5px / 16px) * 1rem
                    (15px / 16px) * 1rem;

                flex-grow: 1;
            }

            button {
                @include mixins.rounded-corners-right;

                position: initial;
                box-sizing: content-box;
                width: (23px / 16px) * 1rem;
                padding: 
                    (7px / 16px) * 1rem
                    (20px / 16px) * 1rem
                    (3px / 16px) * 1rem;
                
                border: 1px solid $wide-search-button-background-colour;
                background-color: $wide-search-button-background-colour;

                color: $wide-search-button-colour;
                font-size: $wide-search-icon-size;
            }
        }
    }
}
