@use "../icons";
@use "../theme";
@use "../utility";

$text-colour: #fff;
$button-colour: theme.get-colour-for-service("web-design");

$heading-size: utility.px-to-rem(48px);
$para-size: utility.px-to-rem(20px);
$button-size: utility.px-to-rem(20px);

$button-width: 14rem;
$button-height: 3.3rem;
$button-icon-name: "right-arrow";

$breakpoints-for-left-align: (
    "medium",
    "large"
);

#hero-image {
    // at mobile breakpoint gradient overlay never reaches full transparency
    @include utility.hero-image-background(
        (
            linear-gradient(to right, black, transparent 175%),
            url("../img/carousel/carousel-web-design.jpg")
        ), #472e3c
    );

    // use flex to position child element vertically centred
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    height: 100%;
    
    color: $text-colour;
    text-align: center;
    
    h2 {
        font-size: $heading-size;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 0.5em;
    }
    
    p {
        font-size: $para-size;
        line-height: 1.8;
        margin: 0;
    }
    
    .call-to-action {
        @include utility.button(
            $background-colour: $button-colour,
            $text-colour: $text-colour,
            $font-size: $button-size,
            $width: $button-width,
            $height: $button-height
        );
        
        @include utility.above-breakpoint("medium") {
            margin-left: 0;
        }

        // generate icon after the text
        &::after {
            @include icons.icon;
            content: icons.icon-unicode-from-name($button-icon-name);
            font-size: 0.75em;
            padding-left: 0.3rem;
        }
    }
    
    // at mobile breakpoint the wrapper fills page
    .wrapper {
        width: 100%;
    }
    
    // ---- breakpoints ----
    @include utility.above-breakpoint("medium") {
        @include utility.hero-image-background(
            (
                linear-gradient(to right, black, transparent 75%),
                url("../img/carousel/carousel-web-design.jpg")
            ), #472e3c
        );
    }

    // for larger breakpoints the wrapper no longer fills the page, instead
    // has a set width and is centered on the page.
    @each $breakpoint in $breakpoints-for-left-align {
        @include utility.above-breakpoint($breakpoint) {
            $content-width: theme.get-content-width-for-breakpoint($breakpoint);
            .wrapper {
                @include utility.margin-x-center;
                width: utility.add-if-possible(
                    $content-width,
                    utility.px-to-rem(-66px)
                );
                text-align: left;
            }
        }
    }
}
