@use "../icons";
@use "../theme";
@use "../utility";

#hero-image {

    // at mobile breakpoint gradient overlay never reaches full transparency
    @include utility.hero-image-background(
        (
            linear-gradient(to right, black, transparent 175%),
            url("../img/carousel/carousel-web-design.jpg")
        ), #472e3c
    );

    // use flex to position child element vertically centred
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    height: 100%;
    
    color: theme.$primary-contrast;
    text-align: center;
    
    h2 {
        font-size: theme.$hero-heading-size;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 0.5em;
    }
    
    p {
        font-size: theme.$hero-para-size;
        line-height: 1.8;
        margin: 0;
    }
    
    .call-to-action {
        @include utility.button(
            $background-colour: theme.get-colour-for-service("web-design"),
            $text-colour: theme.$primary-contrast,
            $font-size: theme.$hero-button-size,
            $width: 14rem,
            $height: 3.3rem,
        );

        &:hover {
            background-color: theme.get-sub-colour-for-service("web-design");
        }

        // generate icon after the text
        &::after {
            @include icons.icon(icons.icon-unicode-from-name("right-arrow"));
            font-size: 0.75em;
            padding-left: 0.3rem;
        }

        // move to left align for medium and above breakpoints
        @include theme.above-breakpoint("medium") {
            margin-left: 0;
        }
    }

    // at mobile breakpoint the wrapper fills page
    .wrapper {
        width: 100%;
    }
    
    // ---- breakpoints ----
    @include theme.above-breakpoint("medium") {

        // when the content moves from centered to left aligned, change background
        // gradient to allow right side of the image to show through more.
        @include utility.hero-image-background(
            (
                linear-gradient(to right, black, transparent 75%),
                url("../img/carousel/carousel-web-design.jpg")
            ), #472e3c
        );
    }

    // for larger breakpoints the wrapper no longer fills the page, instead
    // has a set width and is centered on the page.
    @each $breakpoint in theme.$hero-breakpoints-to-left-align {
        @include theme.above-breakpoint($breakpoint) {
            $content-width: theme.get-content-width-for-breakpoint($breakpoint);
            .wrapper {
                @include utility.margin-x-center;
                width: utility.add-if-possible(
                    $content-width,
                    utility.px-to-rem(-66px)
                );
                text-align: left;
            }
        }
    }
}
