@use "../theme";
@use "../utility";

#latest-posts {
    .wrapper {
        @include utility.margin-x-center;
        @include utility.flex-row-container;
        @include theme.content-width-by-breakpoint(
            $width-add: utility.px-to-rem(-30px)
        );
        
        flex-wrap: wrap;

        box-sizing: border-box;
        margin-top: utility.px-to-rem(40px);
        margin-bottom: utility.px-to-rem(40px);
        padding-left: 15px;
        padding-right: 15px;

        // remove horizontal padding once outside of "mobile" breakpoint
        @include utility.above-breakpoint("small") {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .head-wrap {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    h2 {
        display: inline-block;
        text-transform: uppercase;
        font-size: theme.$blog-h2-font-size;
        font-weight: 600;

        padding: 0;
        margin: 0 0 utility.px-to-rem(40px);

        &::after {
            @include utility.short-horizontal-line(
                $line-colour: theme.$primary,
                $line-length: 100%,
                $line-height: utility.px-to-rem(5px),
            );
            margin: utility.px-to-rem(40px) 0 0;
        }
    }

    h3 {
        font-size: theme.$blog-h3-font-size;
        margin-bottom: utility.px-to-rem(42px);

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        color: theme.$faint;
        font-size: theme.$blog-para-font-size;
        line-height: theme.$blog-para-line-height;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
    
    article {
        @include utility.border;
        @include utility.rounded-corners;
        
        box-sizing: border-box;
        margin: 0 0 utility.px-to-rem(40px);
        
        // positioned so it will be the anchor for .category
        position: relative;

        // width of each section within the footer depends on the breakpoint
        @each $breakpoint-name, $width in theme.$latest-post-article-width-by-breakpoints {
            @include utility.above-breakpoint($breakpoint-name) {
                width: $width;
            }
        }

        // in the small and medium breakpoints the final article preview is hidden
        @include utility.above-breakpoint("small") {
            &:last-of-type {
                display: none;
            }
        }
        @include utility.above-breakpoint("large") {
            &:last-of-type {
                display: block;
            }
        }
    }

    .tooltip-wrapper {
        @include utility.tooltip-wrapper(
            $pointer-size: utility.px-to-rem(10px),
            $offset-above-parent: utility.px-to-rem(23px),
            $pointer-colour: theme.$primary,
        );
    }

    .tooltip-content {
        // centred relative to its parent .tooltip-wrapper
        @include utility.margin-x-center;

        padding: utility.px-to-rem(10px) utility.px-to-rem(15px);
        max-width: utility.px-to-rem(170px);
        background-color: theme.$primary;
        
        p {
            padding: 0;
            margin: 0;

            font-size: theme.$blog-category-tooltip-font-size;
            color: theme.$primary-contrast;
            font-weight: 400;
            text-align: center;
            text-transform: initial;
        }
    }

    // category is a short bit of text to be overlaid on the image
    .category {
        display: block;
        padding: 0 utility.px-to-rem(10px);

        position: absolute;
        right: 0;
        top: utility.px-to-rem(10px);

        // position in front of default layer
        z-index: 1;

        color: theme.$primary-contrast;
        font-size: theme.$blog-category-font-size;
        font-weight: theme.$blog-category-font-weight;
        text-transform: uppercase;
        line-height: 1.438rem;

        &:hover {
            text-decoration: underline;
            
            .tooltip-wrapper {
                @include utility.tooltip-wrapper-show;
            }
        }
    }

    .button {
        @include utility.button(
            $text-colour: theme.$primary-contrast,
            $font-size: theme.$blog-button-font-size,
            $width: 7rem,
            $height: null,
        );
        padding: utility.px-to-rem(13px) utility.px-to-rem(10px);
    }
    
    h3,
    p,
    .button {
        margin-left: utility.px-to-rem(30px);
        margin-right: utility.px-to-rem(30px);
    }


    // set various colours depending on the category of the article
    @each $service-name, $colour in theme.$service-colours {
        .#{$service-name} {
            .category,
            .button {
                background-color: $colour;

                &:hover {
                    background-color: theme.get-sub-colour-for-service($service-name);
                }
            }
            h3 {
                color: $colour;
            }
        }
    }

    .lead {
        display: block;

        // when the image enlarges, clip away the parts that extend out of the element.
        overflow: hidden;
    }

    .lead img {
        width: 100%;
        transition-property: transform, opacity;
        transition-duration: 0.25s;
        transition-timing-function: ease;
    }

    .poster img {
        max-width: 100;
        @include utility.oval;
    }

    .poster {
        margin: utility.px-to-rem(30px) utility.px-to-rem(30px) 0;
        border-top: theme.$border-thickness solid theme.$border-colour;
        padding: utility.px-to-rem(30px) 0;

        p {
            margin: 0;
            padding: 0;
            font-size: theme.$blog-poster-font-size;
        }

        p:first-of-type {
            font-weight: 600;
            color: theme.$primary;
        }

        img {
            float: left;
            margin-right: 23px;
        }
    }

    // image transition only happens at the larger breakpoints
    @include utility.above-breakpoint("medium") {
        .lead:hover {
            img {
                opacity: 0.75;
                transform: scale(1.1);
            }
        }
    }
}
