@use "../icons";
@use "../theme";
@use "../utility";

$normal-width: utility.px-to-rem(938px);
$large-width: utility.px-to-rem(1168px);

$subcategory-height: utility.px-to-rem(45px);
$subcategory-spacing-medium: utility.px-to-rem(20px);
$subcategory-spacing-large: utility.px-to-rem(30px);

nav {
    // not displayed at all on smaller breakpoints
    display: none;

    // make this the anchor element for .subcategories
    position: relative;
    
    background-color: theme.$primary;
    border-bottom: 1px solid theme.$nav-bar-bottom-border;

    .wrapper {
        @include theme.content-width-by-breakpoint(
            $width-add: utility.px-to-rem(-30px)
        );

        display: flex;
        flex-direction: row;
        margin: 0 auto;

        box-sizing: border-box;
        padding: 0;

        border-left: 1px solid theme.$primary-highlight;
        border-right: 1px solid theme.$primary-shadow;

        height: utility.px-to-rem(98px);
    }

    .category {
        flex-grow: 1;
        flex-basis: 8ch;

        padding-bottom: utility.px-to-rem(20px);
        border-left: 1px solid theme.$primary-shadow;
        border-right: 1px solid theme.$primary-highlight;

        position: static;
    }

    // insert icon into the anchor element
    @each $service, $icon-name in theme.$service-icons {
        .#{$service} .category-head::before {
            @include icons.icon(icons.icon-unicode-from-name($icon-name));
            display: block;
            padding-top: 1em;

            font-size: 1.25rem;
            text-align: center;

            color: theme.get-colour-for-service($service);
        }
    }

    a {
        display: block;

        margin: 0;
        padding: 0 3ch;

        text-decoration: none;
    }
    
    h2 {
        font-size: theme.$nav-bar-category-size;
        text-align: center;
        color: theme.$primary-contrast;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1.0;

        margin: 0;
    }

    .subcategories {
        @include utility.flex-row-container;
        @include utility.margin-x-center;
        @include theme.content-width-by-breakpoint;
        
        justify-content: start;
        height: $subcategory-height;

        // subcategory items are anchors with nicely centred text
        a {
            @include utility.flex-center;

            color: theme.$primary-contrast;
            text-align: left;
            text-transform: uppercase;

            padding: 0;
            margin: 0;

            // font size changes with breakpoints
            @each $breakpoint, $font-size in theme.$nav-subcategory-size-by-breakpoints {
                @include utility.above-breakpoint($breakpoint) {
                    font-size: $font-size;
                }
            }
        }

        // add left padding to all subcategory items except the first one
        a:not(:first-of-type) {
            padding-left: $subcategory-spacing-medium;
            @include utility.above-breakpoint("large") {
                padding-left: $subcategory-spacing-large;
            }
        }
        
        // insert after every sub-category, except the final one
        a:not(:last-of-type)::after {
            content: "-";
            padding-left: $subcategory-spacing-medium;
            @include utility.above-breakpoint("large") {
                padding-left: $subcategory-spacing-large;
            }
        }

        // TODO: if these selects turn out too complex for IE11, can replace with a rule adding to all,
        //          then a rule removing from the final one.
    }

    // .sub-wrapper holds the subcategories with the correct position and gives a page-wide background colour
    .sub-wrapper {
        display: none;

        position: absolute;
        bottom: $subcategory-height * -1;
        left: 0;
        width: 100%;
    }

    // when hovering over a category in the nav bar...
    .category:hover{

        // un-hide the sub-wrapper to show subcategories
        .sub-wrapper {
            display: block;
        }

        // change icon colour to make it visible against new background
        .category-head::before {
            color: theme.$primary-contrast;
        }
    }

    // when service in main navigation bar is hovered over, set its background colour
    @each $service, $colour in theme.$service-colours {
        .#{$service}:hover  {
            background-color: $colour;

            // also set borders to be the same colour
            border-color: $colour;
        }
    }

    // set background colour of .sub-wrapper to match its parent service
    @each $service, $colour in theme.$service-sub-colours {
        .#{$service} .sub-wrapper {
            background-color: $colour;
        }
    }

    // first line of the category title is a different size
    h2::first-line {
        font-size: theme.$nav-bar-category-size-first-line;
    }

    // show navigation bar at medium and above breakpoints
    @include utility.above-breakpoint("medium") {
        display: block;
    }
}
