@use "../icons";
@use "../theme";
@use "../utility";

// the icon's background is a circle so a single size value is used
// for both width and height.
$icon-background-size: utility.px-to-rem(60px);

#services {
    box-sizing: border-box;
    padding: 2rem 1rem;
    
    a {
        @include utility.margin-x-center;
        @include utility.border;
        @include utility.rounded-corners;
        @include utility.primary-box-shadow;

        display: flex;
        flex-direction: column;

        padding: 1.5em;
        margin-top: 0;
        margin-bottom: 2rem;
        
        background-color: theme.$primary-contrast;
        

        text-decoration: none;
        color: theme.$primary;
        text-align: center;

    }

    h2 {
        font-size: theme.$services-heading-size;
        font-weight: 400;
    }

    p {
        font-size: theme.$services-para-size;
        line-height: 1.375rem;
    }

    .call-to-action {
        // null $background-colour so the button mixin doesn't generate a
        // background-color property. It will be set on a per-card basis.
        @include utility.button(
            $background-colour: null,
            $text-colour: theme.$primary-contrast,
            $font-size: theme.$services-button-size,
            $width: 8rem,
            $height: 3rem
        );

        // as this is a flex item, auto for top margin will push it to bottom of container
        margin-top: auto;
        margin-bottom: 0;
    }

    // generate a small horizontal line after the h2 element
    h2::after {
        @include utility.short-horizontal-line;
    }

    // set button's colour based on the class of the service card it's within
    // (assumes that all cards have a calss listed in $service-colours)
    @each $service-name, $colour in theme.$service-colours {
        .#{$service-name} .call-to-action {
            background-color: $colour;
        }
    }

    // generate icon appropriate to the id of the service card, placing
    // the icon as a ::before pseudo-element on the card's h2.
    @each $service-name, $icon-name in theme.$service-icons {
        $icon-unicode: icons.icon-unicode-from-name($icon-name);
        $icon-background-colour: theme.get-colour-for-service($service-name);

        .#{$service-name} h2::before {
            @include icons.icon($icon-unicode);
            @include utility.oval;
            @include utility.flex-center;

            color: theme.$primary-contrast;
            background-color: $icon-background-colour;

            width: $icon-background-size;
            height: $icon-background-size;

            margin: 0 auto 1.3rem;
        }
    }

    // on hover, almost every element in the card changes colour
    // some colour changes are regardless of the service
    a:hover {
        color: theme.$primary-contrast;

        h2::before,     // icon
        h2::after,      // horizontal line
        .call-to-action {
            background-color: theme.$primary-contrast;
        }
    }
    // some elements change colour depending on the service type
    @each $service, $colour in theme.$service-colours {
        a.#{$service}:hover {
            background-color: $colour;

            h2::before,  // icon
            .call-to-action {
                color: $colour;
            }
        }
    }

    // ---- breakpoints ----

    @include theme.content-width-by-breakpoint(
        $width-add: utility.px-to-rem(-30px)
    );
    
    // similar results could be achieved using the grid layout instead of flexbox,
    // however spacing between elements is important to this layout, and spacing
    // between grid tracks is not well supported in IE11.

    // at small breakpoint, first 3 cards remain filling page, but others fit 2 to a row
    @include utility.above-breakpoint("small") {
        @include utility.margin-x-center;
        padding-left: 0;
        padding-right: 0;

        .other-services {
            @include utility.wrapped-flex;

            // negative margin reverses effect of external margins from children
            margin: 0 -1rem;

            > * {
                margin: 1rem;
                flex-basis: 18rem;
                flex-grow: 1;
            }
        }
    }

    // at medium breakpoint the first cards now also fit multiple in a row
    @include utility.above-breakpoint("medium") {
        .top-services {
            @include utility.wrapped-flex;

            // negative margin reverses effect of external margins from children
            margin: 0 -1rem;

            > * {
                margin: 1rem;
                flex-basis: 12rem;
                flex-grow: 1;
            }
        }
    }

    @include utility.above-breakpoint("large") {
        // other-services should form row of 4 at this breakpoint,
        // so reduce their flex-basis to allow them to fit.
        .other-services > * {
            flex-basis: 13rem;
        }
    }
}
