@use "../icons";
@use "../theme";
@use "../utility";

$card-shadow-colour: rgba(0, 0, 0, 0.15);
$icon-background-size: utility.px-to-rem(60px);

#services {
    margin: 2rem 1rem;
    
    a {
        @include utility.margin-x-center;

        display: flex;
        flex-direction: column;

        padding: 1.5em;
        margin-top: 0;
        margin-bottom: 2rem;

        text-decoration: none;
        color: theme.$primary;
        text-align: center;

        background-color: theme.$primary-contrast;
        border: 1px solid theme.$border-colour;
        @include utility.rounded-corners;

        box-shadow: 0 0 30px $card-shadow-colour;
    }

    h2 {
        font-size: theme.$services-heading-size;
        font-weight: 400;
    }

    p {
        font-size: theme.$services-para-size;
        line-height: 1.375rem;
    }

    .call-to-action {
        // null $background-colour so the button mixin doesn't generate a
        // background-color property. It will be set on a per-card basis
        // depending on the card's id.
        @include utility.button(
            $background-colour: null,
            $text-colour: theme.$primary-contrast,
            $font-size: theme.$services-button-size,
            $width: 8rem,
            $height: 3rem
        );

        // as this is a flex item, auto for top margin will push it to bottom of container
        margin: auto auto 0;
    }

    // generate a small horizontal line after the h2 element
    h2::after {
        @include utility.short-horizontal-line;
    }

    // set button's colour based on the id of the service card it's within
    // (assumes that all cards have an id listed in $service-colours)
    @each $service-name, $colour in theme.$service-colours {
        .#{$service-name} .call-to-action {
            background-color: $colour;
        }
    }

    // generate icon appropriate to the id of the service card, placing
    // the icon as a ::before pseudo-element on the card's h2.
    @each $service-name, $icon-name in theme.$service-icons {
        $icon-unicode: icons.icon-unicode-from-name($icon-name);
        $icon-background-colour: theme.get-colour-for-service($service-name);

        .#{$service-name} h2::before {
            @include icons.icon;
            @include utility.oval;

            content: $icon-unicode;
            color: theme.$primary-contrast;

            display: block;
            box-sizing: border-box;
            width: $icon-background-size;
            height: $icon-background-size;
            background-color: $icon-background-colour;

            margin: 0 auto 1.3rem;

            // vertically center icon within the element
            //FIXME: this doesn't do that. Use flexbox instead
            padding-top: ($icon-background-size - 1rem) * 0.5;
        }
    }

    @include theme.content-width-by-breakpoint;
    
    // past extra-small first 3 cards remain as they are but rest are put into a 2x2 grid
    @include utility.above-breakpoint("small") {
        @include utility.margin-x-center;

        .other-services {
            @include utility.wrapped-flex;

            // negative margin reverses effect of external margins from children
            margin: 0 -1rem;

            // set up direct children as flex items
            > * {
                margin: 1rem;
                flex-basis: 18rem;
                flex-grow: 1;
            }
        }
    }

    @include utility.above-breakpoint("medium") {
        .top-services {
            @include utility.wrapped-flex;
            margin: 0 -1rem;

            > * {
                margin: 1rem;
                flex-basis: 15rem;
                flex-grow: 1;
            }
        }
    }

    @include utility.above-breakpoint("large") {
        // other-services should form row of 4 at this breakpoint,
        // so reduce their flex-basis to allow them to fit.
        .other-services > * {
            flex-basis: 13rem;
        }
    }
}
