<!-- clients -->
<section class="clients">
    <div class="wrapper">
        <h2>Clients</h2>
        <div class="badge">
            <!-- badges given in colour and greyscale version, styled so only one is shown.
                Ideally would use CSS image filters to make the image greyscale, but not supported in IE11 -->
            <img class="colour" src="img/partner-brands/busseys-colour.png" alt="Busseys logo">
            <img class="bw" src="img/partner-brands/busseys-bw.png" alt="Busseys logo">
            <div class="tooltip-wrapper">
                <div class="tooltip-content">
                    <h3>Busseys</h3>
                    <p>One of the UK's leading Ford dealerships.</p>
                </div>
            </div>
        </div>
        <div class="badge">
            <a href="new-website-developed-for-crane-garden-buildings">
                <img class="colour" src="img/partner-brands/crane-colour.png" alt="Crane Garden Buildings logo">
                <img class="bw" src="img/partner-brands/crane-bw.png" alt="Crane Garden Buildings logo">
            </a>
            <div class="tooltip-wrapper">
                <div class="tooltip-content">
                    <h3>Crane Garden Builders</h3>
                    <p>Leading manufacturer and supplier of high-end garden rooms, summerhouses, workshops and sheds in the UK.</p>
                </div>
            </div>
        </div>
        <div class="badge">
            <img class="colour" src="img/partner-brands/beat-colour.png" alt="Beat logo">
            <img class="bw" src="img/partner-brands/beat-bw.png" alt="Beat logo">
            <div class="tooltip-wrapper">
                <div class="tooltip-content">
                    <h3>Beat</h3>
                    <p>The UK's eating disorder charity founded in 1989.</p>
                </div>
            </div>
        </div>
        <div class="badge">
            <a href="page/new-northern-diver-website-is-live">
                <img class="colour" src="img/partner-brands/northern-diver-colour.png" alt="Northern Diver logo">
                <img class="bw" src="img/partner-brands/northern-diver-bw.png" alt="Northern Diver logo">
            </a>
            <div class="tooltip-wrapper">
                <div class="tooltip-content">
                    <h3>Northern Diver</h3>
                    <p>Global water based equipment manufacturers for sport, military, commercial and rescue businesses.</p>
                </div>
            </div>
        </div>
    </div>
</section>
