<!-- navigation bar -->
<nav>
    <div class="wrapper">
        <div class="category web-design">
            <a class="category-head" href="page/web-design">
                <h2><span class="first">Web</span> Design</h2>
            </a>
            <div class="sub-wrapper">
                <div class="subcategories">
                    <a href="page/web-design/website-design">
                        Stylish Websites
                    </a>
                    <a href="page/web-design/ecommerce-development">
                        eCommerce Stores
                    </a>
                    <a href="page/web-design/branding">
                        Branding
                    </a>
                    <a href="page/web-design/mobile-apps-development">
                        Apps
                    </a>
                    <a href="page/web-design/web-hosting">
                        Web Hosting
                    </a>
                    <a href="page/web-design/pay-monthly-websites">
                        Pay Monthly Websites
                    </a>
                </div>
            </div>
        </div>

        <div class="category it-support">
            <a class="category-head" href="page/it-support">
                <h2><span class="first">IT</span> Support</h2>
            </a>
            <div class="sub-wrapper">
                <div class="subcategories">
                    <a href="page/it-support/managed-it-support">
                        Managed IT
                    </a>
                    <a href="page/it-support/business-it-support">
                        Business IT
                    </a>
                    <a href="page/it-support/office-365-for-business">
                        Office 365
                    </a>
                    <a href="page/it-support/it-consultancy">
                        Consultancy
                    </a>
                    <a href="page/it-support/cloud-service-provider">
                        Cloud Provider
                    </a>
                    <a href="page/it-support/data-backup-disaster-recovery">
                        Data Backup
                    </a>
                </div>
            </div>
        </div>

        <div class="category telecoms-services">
            <a class="category-head" href="page/telecoms-services">
                <h2><span class="first">Telecoms</span> Services</h2>
            </a>
            <div class="sub-wrapper">
                <div class="subcategories">
                    <a href="page/telecoms-services/gigabit-voucher-scheme" >
                        Gigabit Voucher
                    </a>
                    <a href="page/telecoms-services/hosted-business-voip" >
                        Hosted VoIP
                    </a>
                    <a href="page/telecoms-services/business-voip" >
                        Business VoIP
                    </a>
                    <a href="page/telecoms-services/business-broadband-provider" >
                        Business Broadband
                    </a>
                    <a href="page/telecoms-services/leased-lines-provider" >
                        Leased Line
                    </a>
                    <a href="page/telecoms-services/3cx-system" >
                        3CX Systems
                    </a>
                </div>
            </div>
        </div>

        <div class="category bespoke-software">
            <a class="category-head" href="page/bespoke-software">
                <h2><span class="first">Bespoke</span> Software</h2>
            </a>
            <div class="sub-wrapper">
                <div class="subcategories">
                    <a href="page/bespoke-software/workflow-solutions" >
                        Workflow Solutions
                    </a>
                    <a href="page/bespoke-software/business-automation" >
                        Automation
                    </a>
                    <a href="page/bespoke-software/systems-integrations" >
                        System Integration
                    </a>
                    <a href="page/bespoke-software/database-management-software" >
                        Database Management
                    </a>
                    <a href="page/bespoke-software/sharepoint-development" >
                        SharePoint
                    </a>
                    <a href="page/bespoke-software/erp-software" >
                        ERP 
                    </a>
                </div>
            </div>
        </div>
        
        <div class="category digital-marketing">
            <a class="category-head" href="page/digital-marketing">
                <h2><span class="first">Digital</span> Marketing</h2>
            </a>
            <div class="sub-wrapper">
                <div class="subcategories">
                    <a href="page/digital-marketing/seo-search-engine-optimisation" >
                        Search (SEO)
                    </a>
                    <a href="page/digital-marketing/ppc" >
                        Paid (PPC)
                    </a>
                    <a href="page/digital-marketing/conversion-marketing" >
                        Conversion (CRO)
                    </a>
                    <a href="page/digital-marketing/email-marketing" >
                        Email
                    </a>
                    <a href="page/digital-marketing/social-media-marketing" >
                        Social Media
                    </a>
                    <a href="page/digital-marketing/content-marketing" >
                        Content
                    </a>
                </div>
            </div>
        </div>
        
        <div class="category cyber-security">
            <a class="category-head" href="page/cyber-security">
                <h2><span class="first">Cyber</span> Security</h2>
            </a>
            <div class="sub-wrapper">
                <div class="subcategories">
                    <a href="page/cyber-security/cyber-security-assessment" >
                        Assessment
                    </a>
                    <a href="page/cyber-security/cyber-security-management" >
                        Management
                    </a>
                    <a href="page/cyber-security/cyber-penetration-testing" >
                        Penetration Testing
                    </a>
                    <a href="page/cyber-security/cyber-essentials-certification" >
                        Cyber Essentials
                    </a>
                    <a href="page/cyber-security/pci-compliance" >
                        PCI/DSS
                    </a>
                    <a href="page/cyber-security/hacker-prevention" >
                        Hacker Prevention
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
