<!-- services offered -->
<section class="services">
    <h2>Services</h2>
    <div class="top-services">
        <a class="bespoke-software" href="page/bespoke-software">
            <h3>Bespoke Software</h3>
            <p>Tailored software solutions to improve business productivity and online profits. Our expert team will ensure a software solution.</p>
            <p class="call-to-action">Read more</p>
        </a>
        <a class="it-support" href="page/it-support">
            <h3>IT Support</h3>
            <p>Remotely managed IT services that is catered to your businesses needs, adds value and reduces costs.</p>
            <p class="call-to-action">Read more</p>
        </a>
        <a class="digital-marketing" href="page/digital-marketing">
            <h3>Digital Marketing</h3>
            <p>Driving brand awareness and ROI through creative digital marketing campaigns. We review and monitor online performances.</p>
            <p class="call-to-action">Read more</p>
        </a>
    </div>
    <div class="other-services">
        <a class="telecoms-services" href="page/telecoms-services">
            <h3>Telecoms Services</h3>
            <p>Stay connected with bespoke telecoms solutions when you need it most.</p>
            <p class="call-to-action">Read more</p>
        </a>
        <a class="web-design" href="page/web-design">
            <h3>Web Design</h3>
            <p>User-centric design for businesses looking to make a lasting first impression.</p>
            <p class="call-to-action">Read more</p>
        </a>
        <a class="cyber-security" href="page/cyber-security">
            <h3>Cyber Security</h3>
            <p>Ensuring your online business stays secure 24/7, 365 days of the year.</p>
            <p class="call-to-action">Read more</p>
        </a>
        <a class="developer-training" href="page/scs-web-developer-course">
            <h3>Developer Training</h3>
            <p>Have you considered a career in web development but you aren’t sure where to start?</p>
            <p class="call-to-action">Read more</p>
        </a>
    </div>
</section>
