$services-card-background-colour: #fff;
$services-card-border-colour: #ccc;
$services-card-shadow-colour: rgba(0, 0, 0, 0.15);

$services-text-colour: $brand-background-colour;
$services-button-text-colour: #fff;

$services-heading-size: (18px / 16px) * 1rem;
$services-para-size: (13px / 16px) * 1rem;
$services-button-size: (17px / 16px) * 1rem;

$services-icon-colour: #fff;
$services-icon-background-size: 3.75rem;
$services-icon-size: 1rem;

$services-spacing-line-colour: $brand-background-colour;
$services-spacing-line-width: (28px / 16px) * 1rem;
$services-spacing-line-height: (3px / 16px) * 1rem;

$services-button-width: 8rem;
$services-button-height: 3rem;
