@use "sass:map";
@use "../utility/convert";

// defines a set of variables which may be shared between
// different sections of the page's layout.

$page-background: #fefefe;

$primary: #333645;
$primary-contrast: #fff;
$primary-contrast-hover: #ebebeb;
$primary-highlight: #484a58;
$primary-shadow: #262834;

$border-colour: #ccc;
$border-thickness: 1px;
$border-radius: convert.px-to-rem(3px);

$secondary: #555;
$secondary-lighter: #666;
$nav-bar-bottom-border: #999aa2;
$menu-button-hover: #22242e;

$primary-button-colour: #4183d7;
$primary-button-hover-colour: #2a6ec6;

$secondary-button-colour: #999aa2;
$secondary-button-hover-colour: #7e808a;

// Only used for the search text field input in header (for some breakpoints).
// A nice design change would be to unify how focus is visually indicated,
// for example having any focused element glow with this colour.
$focus-colour: #5cc0df;

$horizontal-shadow: rgba(#000, 0.075);
$shadow-primary: rgba(#000, 0.1);

$footer-social-media-background: rgba(#000, 0.25);

// "mobile" is default, with later breakpoint becoming
// active when viewport width exceeds the associated value.
$breakpoints: (
    "mobile": 0,
    "small": convert.px-to-rem(768px),
    "medium": convert.px-to-rem(991px),
    "large": convert.px-to-rem(1260px),
);

// each service offered by Netmatters has an associated colour and icon
$service-colours: (
    "web-design": #926fb1,
    "it-support": #4183d7,
    "telecoms-services": #d64541,
    "bespoke-software": #67809f,
    "digital-marketing": #2ecc71,
    "cyber-security": #f62459,
    "developer-training": #926fb1,
);
$service-sub-colours: (
    "web-design": #79539a,
    "it-support": #286abd,
    "telecoms-services": #bc2c28,
    "bespoke-software": #526781,
    "digital-marketing": #25a25a,
    "cyber-security": #de093f,
    "developer-training": #79539a,
);
$service-icons: (
    "web-design": "code",
    "it-support": "monitor",
    "telecoms-services": "phone",
    "bespoke-software": "grid",
    "digital-marketing": "bars",
    "cyber-security": "shield",
    "developer-training": "student-cap",
);
$services-in-hero-carousel:
    "web-design",
    "it-support",
    "telecoms-services",
    "bespoke-software",
    "digital-marketing",
    "cyber-security";

// each social media platform has a brand colour and icon
$social-media-colours: (
    "facebook": #3b5998,
    "twitter": #00aced,
    "linkedin": #0077b5,
);
$social-media-icons: (
    "facebook": "facebook",
    "twitter": "twitter",
    "linkedin": "linked-in",
);

// several variables should change with the current breakpoint,
// notably most of the page's content is held in content wrappers
// that change in unision at each breakpoint.
$content-width-by-breakpoints: (
    "mobile": 100%,
    "small": convert.px-to-rem(750px),
    "medium": convert.px-to-rem(970px),
    "large": convert.px-to-rem(1200px),
);

$footer-section-width-by-breakpoints: (
    "mobile": 100%,
    "small": convert.px-to-rem(375px),
    "medium": convert.px-to-rem(485px),
    "large": convert.px-to-rem(300px),
);

$latest-post-article-width-by-breakpoints: (
    "mobile": 100%,
    "small": convert.px-to-rem(350px),
    "medium": convert.px-to-rem(455px),
    "large": convert.px-to-rem(370px),
);

$nav-subcategory-size-by-breakpoints: (
    "medium": convert.px-to-rem(13px),
    "large": convert.px-to-rem(16px),
);

$hero-breakpoints-to-left-align: (
    "medium",
    "large",
);

$badge-horizontal-padding: 20px;

$spacing-line-length: convert.px-to-rem(28px);
$spacing-line-height: convert.px-to-rem(3px);

$tooltip-line-height: 1.375rem;
$tooltip-pointer-size: convert.px-to-rem(50px);

// ---- font variables ----
// reducing the number of different sizes used and making them shared
// between sections of the page could be a positive change for the design.

$header-menu-size: convert.px-to-rem(12px);
$header-search-size: convert.px-to-rem(14px);
$header-button-size: convert.px-to-rem(18px);

$nav-bar-category-size: convert.px-to-rem(18px);
$nav-bar-category-size-first-line: convert.px-to-rem(10px);

$hero-heading-size: convert.px-to-rem(48px);
$hero-para-size: convert.px-to-rem(20px);
$hero-button-size: convert.px-to-rem(20px);

$about-heading-size: convert.px-to-rem(36px);
$about-para-size: convert.px-to-rem(16px);
$about-button-size: convert.px-to-rem(17px);

$services-heading-size: convert.px-to-rem(18px);
$services-para-size: convert.px-to-rem(13px);
$services-button-size: convert.px-to-rem(17px);

$blog-h2-font-size: convert.px-to-rem(20px);
$blog-h3-font-size: convert.px-to-rem(16px);
$blog-para-font-size: convert.px-to-rem(13px);
$blog-para-line-height: 1.375rem;
$blog-button-font-size: convert.px-to-rem(17px);
$blog-category-font-size: convert.px-to-rem(12px);
$blog-category-font-weight: 600;
$blog-category-tooltip-font-size: convert.px-to-rem(12px);
$blog-poster-font-size: convert.px-to-rem(14px);

$tooltip-header-font-size: convert.px-to-rem(18px);
$tooltip-font-size: convert.px-to-rem(13px);

$footer-heading-font-size: convert.px-to-rem(16px);
$footer-font-size: convert.px-to-rem(13px);
