$about-background-colour: $brand-background-colour;
$about-text-colour: #fff;
$about-button-backgroud-colour: #fff;
$about-button-text-colour: $brand-background-colour;

$about-heading-size: (36px / 16px) * 1rem;
$about-para-size: (16px / 16px) * 1rem;
$about-button-size: (16px / 16px) * 1rem;
